{%extends 'blog/base.html'%}
{% block main_area %}
<h1>Blog {%if category%}<span class="badge rounded-pill text-bg-secondary">{{category}}</span>{%endif%}</h1>
<!-- Featured blog post-->
{%if post_list.exists%}
{%for p in post_list%}
<div class="card mb-4" id="post-{{p.pk}}">
    <!-- 교재랑 다른 이미지 사용-->
    <a href="#!">
        {%if p.head_image%}
        <img class="card-img-top" src="{{p.head_image.url}}" alt="..." /></a>
        {%else%}
        <img class="card-img-top" src="https://picsum.photos/seed/{{p.id}}/850/350" alt="..." /></a>
        {%endif%} 
    <div class="card-body">
        {%if p.category%}
        <div class="text-end"><span class="badge rounded-pill text-bg-secondary">{{p.category}}</span></div>
        {%else%}
        <div class="text-end"><span class="badge rounded-pill text-bg-secondary">미분류</span></div>
        {%endif%}
        <!--작성일자-->
        <!--제목-->
        <h2 class="card-title">{{p.title}}</h2>
        {%if p.hook_text%}
        <h5 class="text-muted">{{p.hook_text}}</h5>
        {%endif%}
        <!--본문-->
        <p class="card-text">{{p.content|truncatewords:45}}</p>
        <!--글 세부항목-->
        <a class="btn btn-primary" href="{{p.get_absolute_url}}">Read more →</a>
    </div>
    <div class="card-footer text-muted">
        <div class="small text-muted">{{p.create_at}} by
            <a href="#">{{p.author | upper}}</a>
        </div> 
    </div>
</div>
{%endfor%}
{%else%}
<h1>아직 게시물이 없습니다</h1>
{%endif%}
<!-- Pagination-->
<nav aria-label="Pagination">
    <hr class="my-0" />
    <ul class="pagination justify-content-center my-4">
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                aria-disabled="true">Newer</a></li>
        <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
        <li class="page-item"><a class="page-link" href="#!">2</a></li>
        <li class="page-item"><a class="page-link" href="#!">3</a></li>
        <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
        <li class="page-item"><a class="page-link" href="#!">15</a></li>
        <li class="page-item"><a class="page-link" href="#!">Older</a></li>
    </ul>
</nav>
{% endblock %}